.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    >h3 {
        font-size: 18px;
        color:gray
    }
}
.loader {
    color: #31AE54;
    display: flex;
    justify-content: center;
}