.stories {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -151px;
    transition: .7s;

    &-item.active {
        z-index: 1;
    }
}

.stories-container {
    height: 660px;
    position: relative;
    overflow: hidden;
}
