.stories {
    display: flex;
    justify-content: space-between;
}

.topline-logo {
    display: inline-block;
}

.topline-icons {
    display: inline-flex;
    float:right;
    justify-content: flex-end;
    align-items: center;
    .icon {
        display: inline-block;
        margin: 10px;
        width: 25px;
    }
}